<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514329578682-r713d2iqbabf67s4hu7ht4f1cpfgsl7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514329578682-r713d2iqbabf67s4hu7ht4f1cpfgsl7e</string>
	<key>API_KEY</key>
	<string>AIzaSyAdJdA68ux-0Xzia9HXswDjAx5SdFe3jFo</string>
	<key>GCM_SENDER_ID</key>
	<string>514329578682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneappstack.oneappstack</string>
	<key>PROJECT_ID</key>
	<string>oneappstack</string>
	<key>STORAGE_BUCKET</key>
	<string>oneappstack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514329578682:ios:1b5537e2c5fa14dff18683</string>
	<key>DATABASE_URL</key>
	<string>https://oneappstack-default-rtdb.firebaseio.com</string>
</dict>
</plist>